*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.main-header,
.main-footer,
.main-content,
.content-catalog {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 900px;
}

.site-wrapper {
  display: flex;
  width: 100%;
  background-color: #849d8f;
  flex-direction: column;
}

.main-page .site-wrapper {
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-page .site-wrapper::before,
.main-page .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.main-page .site-wrapper::before {
  background-image: url(../img/slider-2.png);
}

.main-page .site-wrapper::after {
  background-image: url(../img/slider-3.png)
}

.center-area {
  padding-left: 2.2%;
  padding-right: 2.2%;
}

.main-header__menu-wrapper {
  display: flex;
  margin-top: 9px;
}

.logo {
  margin-right: 10px;
  margin-left: 1px;
}

.same-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__navigation {
  display: flex;
  height: 100%;
  margin-top: 14px;
  flex-wrap: wrap;
}

.main-menu__link,
.breadcrumbs__item-link,
.footer-menu__item,
.footer-copyright__link {
  padding: 0;
  box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
}

.main-menu__link {
  margin: 0;
}

.main-menu__item {
  line-height: 18px;
  font-weight: 700;
}

.main-menu__item-wrapper {
  display: block;
  padding: 7px 13px;
  margin-right: 2px;
}

.main-menu__item:hover .main-menu__item-wrapper,
.main-menu__item:active .main-menu__item-wrapper,
.main-menu__item:focus-within .main-menu__item-wrapper {
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 16px;
  outline: none;
}

.main-menu__item:hover .main-menu__link,
.main-menu__item:active .main-menu__link,
.main-menu__item:focus-within .main-menu__link {
  box-shadow: none;
}

.main-menu__item:active .main-menu__item-wrapper {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.main-menu__item {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 36px;
  left: -6px;
}

.popup {
  z-index: 2;
  display: none;
}

.main-menu__item--active {
  background-color: #d07058;
  border-radius: 16px;
}

.main-menu__link--active {
  box-shadow: none;
}

.popup {
  background-color: #f8f7f4;
  border-radius: 5px;
}

.popup--shadow {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup__row {
  margin-top: 0px;
  margin-bottom: 20px;
}

.controls-menu__field::placeholder {
  font-size: 14px;
  color: #999999;
}

.sub-menu {
  overflow: hidden;
  width: 143px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 7px;
  font-weight: 400;
}

.sub-menu__row {
  margin-top: 4px;
}

.sub-menu__link {
  display: block;
  padding: 6px 20px;
  color: #323232;
}

.sub-menu__link--new {
  font-weight: 700;
}

.sub-menu__row-line {
  position: relative;
  margin-bottom: 7px;
}

.sub-menu__row-line::after {
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: #d3d3d2;
  content: "";
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
}

.sub-menu__item-bold:hover,
.sub-menu__link:hover,
.sub-menu__item-bold:focus,
.sub-menu__link:focus {
  background-color: #fbded7;
  outline: none;
}

.sub-menu__item-bold:active,
.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__link--active {
  display: block;
  padding: 6px 20px;
  color: #ffffff;
  background-color: #d07058;
}

.visual-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.controls-menu {
  display: flex;
  margin-left: auto;
  margin-top: 14px;
}

.controls-menu__wrapper,
.controls-menu__wrapper-active {
  position: relative;
  margin-left: 10px;
}

.controls-menu__item {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  align-items: center;
}

.popup_form-field {
  width: 100%;
  height: 44px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  padding-bottom: 4px;
}

.popup_form-field:hover,
.modal-feedback__textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.popup_form-field:active,
.modal-feedback__textarea:active,
.popup_form-field:focus,
.modal-feedback__textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.popup_form-field:focus,
.modal-feedback__textarea:focus {
  outline: none;
}

.controls-menu__image-loupe {
  padding: 7px 8px 4px 8px;
}

.controls-menu__wrapper:hover path,
.controls-menu__wrapper:focus-within path,
.controls-menu__wrapper:active path,
.controls-menu__wrapper:hover g,
.controls-menu__wrapper:focus-within g,
.controls-menu__wrapper:active g {
  fill: #000000;
}

.controls-menu__wrapper:hover .controls-menu__item,
.controls-menu__wrapper:focus-within .controls-menu__item {
  color: #000000;
  background-color: #f8f7f4;
  outline: none;
}

.controls-menu__item:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.popup--search {
  position: absolute;
  top: 37px;
  right: 0;
  width: 341px;
  padding: 20px 15px;
}

.controls-menu__item--login {
  padding: 5px 17px 3px 16px;

}

.controls-menu__image-entranse {
  padding-right: 7px;
  padding-top: 1px;
}

.popup-login {
  position: absolute;
  top: 37px;
  right: -2px;
  width: 277px;
  padding: 20px 17px 20px 19px;
}

.orange-button {
  display: inline-flex;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, #ca3824, #f26843);
  background-image: -o-linear-gradient(bottom, #ca3824, #f26843);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 22px;
  min-height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  font-weight: 700;
  align-items: center;
  cursor: pointer;
}

.orange-button:hover,
.orange-button:focus {
  background-image: 
    -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: 
    -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: 
    linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0px 1px 2px 0 #ac1000;
  outline: none;
}

.orange-button:active {
  background-image: 
    -webkit-linear-gradient(#e74a35, #f26843),
    -webkit-linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: 
    -o-linear-gradient(#e74a35, #f26843),
    -o-linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: 
    linear-gradient(#e74a35, #f26843),
    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));;
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.orange-button__popup-login {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 21px;
}

.popup-login__footer {
  display: flex;
}

.popup-login__two-links {
  display: flex;
  font-size: 13px;
  line-height: 1;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  align-items: flex-start;
}

.popup-login__link {
  padding: 0;
  color: #323232;
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.5);
}

.popup-login__link + .popup-login__link {
  margin-top: 8px;
}

.popup-login__link:hover,
.popup-login__link:focus,
.popup-login__link:active {
  color: #e84d37;
  box-shadow: 0 0.5px 0 0 rgba(232, 77, 55, 0.5)
}

.controls-menu__item--basket {
  padding: 4px 16px 2px 16px;
}

.controls-menu__item-basket--active {
  color: #323232;
  background-color: #f8f7f4;
}

.controls-menu__image-basket {
  padding-right: 8px;
  padding-top: 2px;
}

.popup-basket {
  position: absolute;
  top: 37px;
  right: 0;
  padding-bottom: 21px;
}

.basket {
  width: 510px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  border-bottom: 1px solid #cacac7;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.basket__button {
  height: 46px;
  padding-left: 4px;
  cursor: pointer;
}

.basket__button-item {
  width: 11px;
  height: 11px;
  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.basket__image-item {
  overflow: hidden;
  border-radius: 50%;
}

.basket__image-cell {
  width: 40px;
  padding-left: 3px;
}

.basket__name-goods {
  width: 226px;
  padding-left: 9px;
  padding-top: 16px;
  vertical-align: top;
}

.basket__weight {
  padding-left: 28px;
}

.basket__weight--color {
  color: #999999;
}

.basket__price {
  padding-left: 2px;
}

.popup-basket__price {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  font-weight: 700;
  margin-right: 15px;
  margin-top: 14px;
}

.basket__orange-button {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  margin-left: auto;
}

.main-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -4px;
}

.main-header__work-time,
.main-header__telephon {
  margin: 0;
}

.main-header__work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header__telephon {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 4px;
}

.main-menu__item:hover .popup,
.main-menu__item:focus-within .popup,
.controls-menu__wrapper:hover .popup,
.controls-menu__wrapper:focus-within .popup {
  display: block;
}

.controls-menu__wrapper-active:hover .popup,
.controls-menu__wrapper-active:focus-within .popup {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  margin-top: -16px;
}

.breadcrumbs__item-link {
  margin-left: 1px;
}

.breadcrumbs_symbol {
  margin-right: 6px;
  margin-left: 8px;
}

.content-catalog__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 23px;
}

.slider {
  position: relative;
  text-align: center;
  padding-top: 276px;
}

.slider__slide {
  display: none;
}

.slider__text {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 27px;
  font-weight: 700;
}

.orange-button--large {
  display: inline-flex;
  height: 65px;
  padding: 9px 40px 12px 41px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  font-weight: 700;
  align-items: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  cursor: pointer;
  margin-top: 2px;
}

.orange-button--large:hover,
.orange-button--large:focus {
  background-image: 
    -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: 
    -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: 
    linear-gradient(to top, #ec6f5e, #f58669);
   box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}

.orange-button--large:active {
  background: -webkit-linear-gradient(bottom, #e1613e, #d84732);
  background: -o-linear-gradient(bottom, #e1613e, #d84732);
  background: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.slider__controls {
  position: absolute;
  bottom: 24px;
  left: 2px;
  z-index: 3;
  font-size: 0;
}

.slider__point {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 9px;
  vertical-align: top;
  cursor: pointer;
}

.slider__point:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper .slider__slide--1,
#product-2:checked ~ .site-wrapper .slider__slide--2,
#product-3:checked ~ .site-wrapper .slider__slide--3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.filters {
  margin-bottom: 40px;
}

.filters__first-row,
.filters__second-row {
  display: flex;
}

.filters__select,
.filters__range,
.filters__radio {
  display: flex;
  flex-direction: column;
}

.filters__range,
.filters__radio {
  margin-left: 15px;
}

.fat-content,
.filler {
  margin: 0;
  padding: 0;
  margin-top: 3px;
}

.filters__field,
.range__controls,
.filters__button {
  height: 36px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
  margin-top: 6px;
}

.filters__select {
  flex-direction: column-reverse;
}

.filters__label--select {
  position: relative;
}

.filters__label--select::before {
  position: absolute;
  right: 14px;
  bottom: -30px;
  width: 11px;
  height: 11px;
  background-image: url(../img/icon-down-dir-wh.svg);
  background-repeat: no-repeat;
  content: "";
}

.filters__block--sorting {
  width: 194px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-left: 15px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 1px;
}

.filters__block--sorting::-ms-expand {
  display: none;
}

.filters__block--sorting:hover,
.filters__block--sorting:focus {
  color: #323232;
  outline: none;
}

.filters__block--sorting:hover + .filters__label--select::after,
.filters__block--sorting:focus + .filters__label--select::after {
  position: absolute;
  right: 14px;
  bottom: -30px;
  width: 11px;
  height: 11px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  content: "";
}

.filters__block--sorting option {
  font-size: 14px;
  color: #323232;
  font-weight: 400;
}

.range__price-controls {
  margin-left: 14px;
}

.filters__label {
  font-size: 14px;
  margin-left: 16px;
}

.range__field {
  width: 25px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 500;
}

.filters__range {
  width: 218px;
}

.filters__range-label {
  font-size: 14px;
  line-height: 16px;
}

.range__controls {
  position: relative;
  padding-left: 21px;
  padding-top: 16px;
}

.range__scale {
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range__bar {
  width: 55%;
  height: 4px;
  background-color: #ffffff;
  margin-left: 24px;
}

.range__toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 23px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.range__toggle:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-property: transform;
}

.range__toggle-min {
  left: 35px;
}

.range__toggle-max {
  left: 132px;
}

.filters__field-radio {
  width: 415px;
  padding-left: 14px;
  padding-right: 16px;
}

.filters__field-radio,
.filters__field-checkbox {
  display: flex;
  align-items: center;
}

.filters__radio-wrapper-item {
  position: relative;
  cursor: pointer;
}

.filters__radio-wrapper-item:not(:first-child) {
  margin-left: 18px;
}

.filters__radio-label,
.filters__checkbox-label {
  line-height: 18px;
  cursor: pointer;
}

.filters__radio-label {
  padding-left: 32px;
}

.filters__radio-label::before {
  position: absolute;
  top: -2px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  cursor: pointer;
}

.fat-content__radio-item:checked + .filters__radio-label::after {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
}

.filters__radio-wrapper-item:hover > .fat-content__radio-item:not(:disabled) + .filters__radio-label::before,
.filters__radio-wrapper-item:hover > .fat-content__radio-item:checked:not(:disabled) + .filters__radio-label::after,
.filters__radio-wrapper-item:focus-within > .fat-content__radio-item:not(:disabled) + .filters__radio-label::before, /*TODO не работает*/
.filters__radio-wrapper-item:focus-within > .fat-content__radio-item:checked:not(:disabled) + .filters__radio-label::after {
  border: 4px solid rgb(255, 255, 255);
}

.fat-content__radio-item:disabled + .filters__radio-label::before {
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.fat-content__radio-item:disabled + .filters__radio-label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filters__checkbox-wrapper-item:first-child {
  padding-left: 32px;
}

.filler__checkbox-item:not(:checked) + .filters__checkbox-label::before {
  position: absolute;
  top: -1px;
  left: -32px;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  content: "";
}

.filler__checkbox-item:checked + .filters__checkbox-label::after {
  position: absolute;
  top: -1px;
  left: -32px;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  content: "";
}

.filters__checkbox-wrapper-item:hover > .filler__checkbox-item:not(:checked):not(:disabled) + .filters__checkbox-label::before,
.filters__checkbox-wrapper-item:hover > .filler__checkbox-item:checked:not(:disabled) + .filters__checkbox-label::after,
.filters__checkbox-wrapper-item:focus-within > .filler__checkbox-item:not(:checked):not(:disabled) + .filters__checkbox-label::before,
.filters__checkbox-wrapper-item:focus-within > .filler__checkbox-item:checked:not(:disabled) + .filters__checkbox-label::after {
  opacity: 1;
}

.filler__checkbox-item:disabled + .filters__checkbox-label::before,
.filler__checkbox-item:disabled + .filters__checkbox-label::after {
  opacity: 0.4;
}

.fat-content,
.filler {
  border: none;
}

.filters__second-row {
  margin-top: 13px;
}

.filters__field-checkbox {
  width: 703px;
  padding-left: 17px;
  padding-right: 18px;
  justify-content: space-between;
}

.filters__field-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filler__checkbox-item + label::before {
  position: absolute;
  content: "";
}

.filters__button {
  width: 144px;
  border: 2px solid #ffffff;
  margin-left: 14px;
  margin-top: auto;
}

.filters__button:hover,
.filters__button:focus-within {
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.filters__button:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.shares,
.banner-wrapper {
  display: flex;
  justify-content: space-between;
}

.shares {
  margin-top: 40px;
  min-height: 229px;
}

.banner {
  display: flex;
  padding: 16px 19px;
  border-radius: 15px;
  flex-direction: column;
  min-width: 420px;
  max-width: 560px;
  flex: 1 1 50%;
}

.shares__caption {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.shares__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
}

.shares__orange-button {
  padding: 10px 22px 12px 21px;
  align-self: flex-end;
  margin-top: auto;
  margin-right: 2px;
  margin-bottom: 7px;
}

.shares__raspberry {
  background-color: #aa2a4f;
  background-image: url("../img/raspberries-banner.jpg");
  background-repeat: no-repeat;
}

.shares__chocolate {
  background-color: #58321f;
  background-image: url("../img/chocolate-banner.jpg");
  background-repeat: no-repeat;
  margin-left: 2.3%;
}

.ice-cream-list {
  display: flex;
  flex-wrap: wrap;
}

.ice-cream-list__item {
  position: relative;
  width: 22.8%;
  text-align: center;
  min-width: 200px;
  max-width: 267px;
  margin-bottom: 38px;
  flex-grow: 1;
  margin-right: 2.3%;
}

.ice-cream-list__item:nth-child(4n) {
  margin-right: 0;
}

.ice-cream-list__item:hover .ice-cream-list__wrapper,
.ice-cream-list__item:focus-within .ice-cream-list__wrapper {
  display: flex;
}

.ice-cream-list__item:hover .ice-cream-list__image-wrapper,
.ice-cream-list__item:hover .ice-cream-list__title,
.ice-cream-list__item:focus-within .ice-cream-list__image-wrapper,
.ice-cream-list__item:focus-within .ice-cream-list__title {
  position: relative;
  z-index: 2;
}

.ice-cream-list__title:hover,
.ice-cream-list__title:focus {
  color: #ffbc9e;
  border-bottom: 0.5px solid rgba(255, 188, 158, 0.5);
  outline: none
}

.ice-cream-list__text {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.ice-cream-list__image-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
}

.ice-cream-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-color: #ffffff;
  background-image: url(../img/hit.svg);
  border-radius: 50%;
}

.ice-cream-list__ice-cream-image {
  width: 100%;
  border-radius: 50%;
}

.ice-cream-list__price {
  position: absolute;
  bottom: 4.6%;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-list__price--units {
  width: 31px;
  height: 36px;
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-position: 4px 11px;
}

.ice-cream-list__price--units span{
  font-size: 30px;
  line-height: 45px;
  padding-left: 36px;
}


.ice-cream-list__wrapper {
  position: absolute;
  top: -2%;
  left: -4.85%;
  z-index: 1;
  display: none;
  width: 109.7%;
  height: 125.8%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding-bottom: 7.2%;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.ice-cream-list__orange-button {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding-top: 11px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.features {
  padding: 25px 16px 15px 20px;
  color: #323232;
  background-color: #f0e6ce;
  background-image: url(../img/wafer-pattern.jpg);
  background-repeat: repeat;
  border-radius: 15px;
  margin-top: 38px;
}

.features__about-us {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0.2px;
}

.features__item {
  display: inline-flex;
  width: 49%;
  line-height: 22px;
  font-weight: 400;
  vertical-align: text-top;
  margin-bottom: 9px;
  margin-left: 1px;
}

.features__item:nth-child(2n) {
  margin-left: 17px;
}

.features__item:nth-child(2n) .features__text {
  margin-left: 8px;
}

.features__ice-cream,
.features__leaf,
.features__cow,
.features__thermometer {
  display: inline-block;
  width: 49px;
  height: 49px;
  flex-shrink: 0;
}

.features__ice-cream {
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}

.features__leaf {
  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
}

.features__cow {
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}

.features__thermometer {
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
}

.features__text {
  display: inline-block;
  margin: 0;
  margin-left: 7px;
  margin-top: 13px;
  max-width: 90%;
}

.banner-wrapper {
  margin-top: 40px;
}

.new-in-blog,
.subscription {
  min-height: 220px;
}

.new-in-blog {
  padding: 23px 20px;
  background-color: #ffffff;
  background-image: url(../img/blog-background.jpg);
  background-repeat: no-repeat;
  background-position: 17% 39%; /*Катя, подскажи, пожалуйста, как можно сделать, чтобы фон складывался не справа налево, а слева направо (чтобы при уменьшении размера у нас уменьшался белый цвет, а не картинка)*/
}

.new-in-blog__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new-in-blog__link {
  width: 281px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  font-weight: 700;
  margin-top: 4px;
}

.new-in-blog__link:hover,
.new-in-blog__link:focus,
.new-in-blog__link:active {
  color: #e84d37;
  outline: none;
}

.new-in-blog__link p {
  display: inline;
  background-color: rgba(255, 255, 255, 0.6);
}

.subscription { 
  padding: 29px 21px 33px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-image-source: url(../img/bg-post.svg);
  border-image-slice: 6;
  font-weight: 400;
  margin-left: 2.3%;
}

.subscription_text {
  margin: 0;
}

.subscription_form-wrapper {
  display: flex;
  margin-bottom: 1px;
  align-items: flex-end;
  margin-top: auto;
}

.subscription_form-wrapper form {
  flex: 1 1 auto;
}

.subscription_form-wrapper input::placeholder,
.modal-feedback__popup_form-field::placeholder,
.modal-feedback__textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.subscription__row {
  margin: 0;
  max-width: 368px;
  min-width: 229px;
  margin-right: 11px;
}

.subscription__orange-button {
  padding: 9px 19px 12px 19px;
  margin-bottom: 1px;
}

.contacts {
  position: relative;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  margin-top: 40px;
}

.contacts__adress {
  position: absolute;
  top: 63px;
  right: 2.2%;
  display: flex;
  width: 302px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 31px;
}

.contacts__text-adress {
  padding: 10px 32px 2px 25px;
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 18px;
}

.contacts__bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__bold__adress {
  display: inline-flex;
  margin-top: 1px;
}

.contacts__bold__telephone {
  display: inline-flex;
  margin-top: 4px;
  margin-bottom: 2px;
}

.contacts__orange-button {
  margin: 22px auto 0;
  padding: 13px 28px;
  line-height: 1;
}

.contacts__map {
  width: 100%;
  height: 429px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.paginator {
  display: flex;
  margin-left: auto;
  margin-top: 42px;
  white-space: nowrap;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.paginator__item {
  display: inline-flex;
  line-height: 18px;
  text-align: center;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.paginator__item-link {
  padding: 4px 8px;
  color: inherit;
}

.paginator__item--prev {
  width: 27px;
  height: 26px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 12px;
  transform: scaleX(-1);
}

.paginator__item--disabled {
  opacity: 0.2;
}

.paginator__item--active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator__item-next-link {
  padding: 4px 0 4px 13px;
}

.paginator__item-next-link:hover path,
.paginator__item-next-link:focus path {
  stroke: #ffffff;
  outline: none;
}

.paginator__item-next-link:active path {
  stroke: #000000;
  fill: #000000;
}

.paginator__item-action:hover,
.paginator__item-action:focus-within {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.paginator__item-link:focus,
.paginator__item-next-link:focus {
  outline: none;
}

.paginator__item-action:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator:active .paginator__item--active:not(:active)  {
  color: #ffffff;
  background-color: initial;
  border-radius: initial;
}

.center-area__footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  padding-top: 18px;
}

.main-footer--separated {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.main-footer__social {
  display: flex;
  margin-top: auto;
  margin-bottom: 2px;
  margin-left: 2px;
}

.main-footer__social-button {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
  margin-right: 11px;
  text-indent: -10000px;
}

.main-footer__social-button:hover,
.main-footer__social-button:focus {
  opacity: 1;
  outline: none;
}

.main-footer__social-button:active {
  opacity: 0.7;
}

.main-footer__social-button--tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--inst {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

.footer-menu {
  margin-top: auto;
}

.footer-menu__navigation {
  display: flex;
}

.footer-menu__navigation li {
  margin-bottom: 3px;
}

.main-footer__column-wrapper {
  margin-right: 19px;
  padding-left: 13px;
}

.footer-menu__row--heart {
  position: relative;
}

.footer-menu__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu__item:hover,
.footer-menu__item:focus,
.footer-menu__item:active,
.footer-copyright__link:hover,
.footer-copyright__link:focus,
.footer-copyright__link:active,
.breadcrumbs__item-link:hover,
.breadcrumbs__item-link:focus,
.breadcrumbs__item-link:active {
  color: #ffbc9e;
  box-shadow: 0 0.5px 0 0 rgba(255, 188, 158, 0.5);
  outline: none;
}

.footer-menu__item--bold {
  font-weight: 700;
}

.footer-menu__row--heart::before {
  position: absolute;
  top: 4px;
  left: -22px;
  width: 15px;
  height: 15px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  content: "";
}

.footer-copyright {
  margin-top: auto;
}

.footer-copyright__author,
.footer-copyright__link {
  font-size: 12px;
  font-weight: 400;
}

.footer-copyright__author {
  margin: 0;
  margin-top: 2px;
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 4;
  width: 478px;
  padding: 16px 20px 26px 27px;
  border-radius: 10px;
  margin-left: -239px;
}

.modal-feedback__close {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}

.modal-feedback__close::before,
.modal-feedback__close::after {
  position: absolute;
  top: 8px;
  right: -2px;
  width: 21px;
  height: 2px;
  background-color: #323232;
  content: "";
}

.modal-feedback__close::before {
  transform: rotate(45deg);
}

.modal-feedback__close::after {
  transform: rotate(-45deg);
}

.modal-feedback__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback__form {
  display: flex;
  flex-direction: column;
}

.popup__modal-feedback-row {
  margin: 0;
  margin-top: 20px;
}

.modal-feedback__popup_form-field {
  width: 267px;
}

.modal-feedback__textarea {
  overflow: auto;
  width: 428px;
  height: 155px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  min-height: 155px;
  padding-left: 15px;
  padding-top: 13px;
}

.modal-feedback__orange-button {
  padding: 14px 24px;
  line-height: 1;
  align-self: flex-end;
  margin-top: 21px;
  margin-right: 3px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
