*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.main-header,
.main-footer,
.main-content--width,
.content-catalog {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 900px;
}

.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #849d8f;
  min-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-page .site-wrapper {
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.main-page .site-wrapper::before,
.main-page .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.main-page .site-wrapper::before {
  background-image: url(../img/slider-2.png);
}

.main-page .site-wrapper::after {
  background-image: url(../img/slider-3.png)
}

.center-area {
  padding-left: 2.2%;
  padding-right: 2.2%;
}

.main-header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
}

.logo {
  margin-right: 10px;
  margin-left: 1px;
}

.same-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-menu__link,
.breadcrumbs__item-link,
.footer-menu__item,
.footer-copyright__link {
  padding: 0;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

.main-menu__link {
  margin: 0;
}

.main-menu__item {
  line-height: 18px;
  font-weight: 700;
}

.main-menu__item-wrapper {
  display: block;
  padding: 7px 13px;
  margin-right: 2px;
}

.main-menu__item:hover .main-menu__item-wrapper,
.main-menu__item:active .main-menu__item-wrapper {
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 16px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  outline: none;
}

.main-menu__item:focus-within .main-menu__item-wrapper {
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 16px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  outline: none;
}

.main-menu__item:hover .main-menu__link,
.main-menu__item:active .main-menu__link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-menu__item:focus-within .main-menu__link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-menu__item:active .main-menu__item-wrapper {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.main-menu__item {
  position: relative;
}

@-webkit-keyframes emergence-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes emergence-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sub-menu,
.popup--search,
.popup-login,
.popup-basket {
  -webkit-animation-name: emergence-popup;
          animation-name: emergence-popup;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.sub-menu {
  position: absolute;
  top: 37px;
  left: -7px;
  overflow: hidden;
  width: 143px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 7px;
  font-weight: 400;
}

.popup {
  z-index: 2;
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.main-menu__item--active {
  background-color: #d07058;
  border-radius: 16px;
}

.main-menu__link--active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup--shadow {
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup__row {
  margin-top: 20px;
}

.sub-menu__row {
  margin-top: 3px;
}

.sub-menu__link {
  display: block;
  padding: 6px 20px;
  color: #323232;
}

.sub-menu__link--new {
  font-weight: 700;
}

.sub-menu__row-line {
  position: relative;
  margin-bottom: 10px;
}

.sub-menu__row-line::after {
  position: absolute;
  bottom: -6px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: #d3d3d2;
  content: "";
}

.sub-menu__item-bold:hover,
.sub-menu__link:hover,
.sub-menu__item-bold:focus,
.sub-menu__link:focus {
  background-color: #fbded7;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  outline: none;
}

.sub-menu__item-bold:active,
.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__link--active {
  display: block;
  padding: 6px 20px;
  color: #ffffff;
  background-color: #d07058;
}

.visual-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.controls-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-top: 14px;
}

.controls-menu__wrapper,
.controls-menu__wrapper-active {
  position: relative;
  margin-left: 10px;
}

.controls-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-menu__field,
.subscription__form-field {
  font-size: 14px;
  line-height: 24px;
}

.controls-menu__field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.controls-menu__field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.controls-menu__field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.controls-menu__field::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.popup_form-field {
  width: 100%;
  height: 44px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  padding-left: 13px;
  padding-bottom: 4px;
}

.popup_form-field:hover,
.modal-feedback__textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.popup_form-field:active,
.modal-feedback__textarea:active,
.popup_form-field:focus,
.modal-feedback__textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}

.popup_form-field:focus,
.modal-feedback__textarea:focus {
  outline: none;
}

.controls-menu__image-loupe {
  padding: 7px 8px 4px 8px;
}

.controls-menu__wrapper:hover path,
.controls-menu__wrapper:active path,
.controls-menu__wrapper:hover g,
.controls-menu__wrapper:active g {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
  fill: #000000;
}

.controls-menu__wrapper:focus-within path,
.controls-menu__wrapper:focus-within g {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
  fill: #000000;
}

.controls-menu__wrapper:hover .controls-menu__item {
  color: #323232;
  background-color: #f8f7f4;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  outline: none
}

.controls-menu__wrapper:focus-within .controls-menu__item {
  color: #323232;
  background-color: #f8f7f4;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  outline: none
}

.controls-menu__item:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.popup--search {
  position: absolute;
  top: 37px;
  right: 0;
  width: 341px;
  padding: 20px 15px;
}

.controls-menu__item--login {
  padding: 5px 17px 3px 16px;

}

.controls-menu__image-entranse {
  padding-right: 7px;
  padding-top: 1px;
}

.popup-login {
  position: absolute;
  top: 36px;
  right: -2px;
  width: 277px;
  padding: 0px 17px 20px 19px;
}

.orange-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 22px;
  min-height: 44px;
  -webkit-box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
          box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.orange-button:hover,
.orange-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;
          box-shadow: 0px 1px 2px 0 #ac1000;
  outline: none;
}

.orange-button:active {
  background-image: 
    -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)),
    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: 
    linear-gradient(#e74a35, #f26843),
    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
}

.orange-button__popup-login {
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 20px;
  padding-top: 2px;
}

.popup-login__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.popup-login__two-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-login__link {
  padding: 0;
  color: #323232;
  text-decoration: underline;
}

.popup-login__link + .popup-login__link {
  margin-top: -3px;
}

.popup-login__link:hover,
.popup-login__link:focus,
.popup-login__link:active {
  color: #e84d37;
  outline: none;
}

.controls-menu__item--basket {
  padding: 4px 16px 2px 16px;
}

.controls-menu__item-basket--active {
  color: #323232;
  background-color: #f8f7f4;
}

.controls-menu__image-basket {
  padding-right: 8px;
  padding-top: 2px;
}

.popup-basket {
  position: absolute;
  top: 36px;
  right: 0;
  padding-bottom: 21px;
}

.basket {
  width: 510px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  border-bottom: 1px solid #cacac7;
  font-weight: 400;
  margin-left: 11px;
  margin-right: 18px;
  padding-top: 7px;
  padding-bottom: 13px;
}

.basket__button {
  height: 50px;
  padding-left: 3px;
  cursor: pointer;
}

.basket__button-item {
  width: 18px;
  height: 12px;
  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 4px 0px;
  border: none;
  cursor: pointer;
}

.basket__image-item {
  overflow: hidden;
  border-radius: 50%;
}

.basket__image-cell {
  width: 36px;
  padding-top: 2px;
}

.basket__name-goods {
  width: 226px;
  padding-left: 9px;
  padding-top: 16px;
  vertical-align: top;
}

.basket__weight {
  padding-left: 28px;
}

.basket__weight--color {
  color: #999999;
}

.basket__price {
  padding-left: 2px;
}

.popup-basket__price {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #323232;
  font-weight: 700;
  margin-right: 13px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.basket__orange-button {
  padding-left: 16px;
  padding-right: 15px;
  margin-right: 13px;
  margin-left: 353.5px;
}

.main-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -4px;
}

.main-header__work-time,
.main-header__telephon {
  margin: 0;
}

.main-header__work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header__telephon {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 4px;
}

.main-menu__item:hover .popup,
.controls-menu__wrapper:hover .popup {
  display: block;
}

.main-menu__item:focus-within .popup,
.controls-menu__wrapper:focus-within .popup {
  display: block;
}

.controls-menu__wrapper-active:hover .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.controls-menu__wrapper-active:focus-within .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 11px;
  font-weight: 400;
  margin-top: -16px;
}

.breadcrumbs__item-link {
  margin-left: 1px;
}

.breadcrumbs_symbol {
  margin-right: 6px;
  margin-left: 8px;
}

.content-catalog__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 23px;
}

.slider {
  position: relative;
  text-align: center;
  padding-top: 276px;
}

.slider__slide {
  display: none;
}

.slider__text {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 27px;
  font-weight: 700;
}

.orange-button--large {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 65px;
  padding: 9px 40px 12px 41px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  cursor: pointer;
  margin-top: 2px;
}

.orange-button--large:hover,
.orange-button--large:focus {
  background-image: 
    -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: 
    linear-gradient(to top, #ec6f5e, #f58669);
   -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
           box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}

.orange-button--large:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d84732));
  background: linear-gradient(to top, #e1613e, #d84732);
  -webkit-box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.slider__controls {
  position: absolute;
  bottom: 24px;
  left: 2px;
  z-index: 3;
  font-size: 0;
}

.slider__point {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 9px;
  vertical-align: top;
  cursor: pointer;
}

.slider__point:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.ice-cream-slide1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

.ice-cream-slide2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

.ice-cream-slide3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

.ice-cream-slide1:checked ~ .site-wrapper .slider__slide--1,
.ice-cream-slide2:checked ~ .site-wrapper .slider__slide--2,
.ice-cream-slide3:checked ~ .site-wrapper .slider__slide--3 {
  display: block;
}

.ice-cream-slide1:checked ~ .site-wrapper label[for="product-1"],
.ice-cream-slide2:checked ~ .site-wrapper label[for="product-2"],
.ice-cream-slide3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.filters {
  margin-bottom: 40px;
}

.filters__first-row,
.filters__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters__select,
.filters__range,
.filters__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters__range,
.filters__radio {
  margin-left: 15px;
}

.fat-content,
.filler {
  margin: 0;
  padding: 0;
  margin-top: 3px;
}

.filters__field,
.range__controls,
.filters__button {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
  min-height: 36px;
  margin-top: 6px;
}

.filters__select {
  margin-top: 3px;
}

.filters__label--select {
  position: relative;
}

.filters__block--sorting {
  width: 194px;
  font-size: 16px;
  line-height: 18px;
  background-image: url(../img/icon-down-dir-wh.svg);
  background-repeat: no-repeat;
  background-position: 168px 13px; 
  font-weight: 500;
  padding-left: 15px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 1px;
}

.filters__block--sorting::-ms-expand {
  display: none;
}

.filters__block--sorting:hover,
.filters__block--sorting:focus {
  color: #323232;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 168px 13px;
  outline: none;
}

.filters__block--sorting option {
  font-size: 14px;
  color: #323232;
  font-weight: 400;
}

.range__price-controls {
  margin-left: 14px;
}

.filters__label {
  font-size: 14px;
  margin-left: 16px;
}

.range__field {
  width: 25px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 500;
}

.filters__range {
  width: 218px;
}

.filters__range-label {
  font-size: 14px;
  line-height: 16px;
}

.range__controls {
  position: relative;
  padding-left: 21px;
  padding-top: 16px;
}

.range__scale {
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range__bar {
  width: 55%;
  height: 4px;
  background-color: #ffffff;
  margin-left: 24px;
}

.range__toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 23px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.range__toggle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.range__toggle-min {
  left: 35px;
}

.range__toggle-max {
  left: 132px;
}

.filters__field-radio {
  padding-left: 14px;
  padding-right: 16px;
}

.filters__field-radio,
.filters__field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters__radio-wrapper-item {
  position: relative;
  margin: 8px 0;
  cursor: pointer;
}

.filters__radio-wrapper-item:not(:first-child) {
  margin-left: 17.5px;
}

.filters__radio-label,
.filters__checkbox-label {
  line-height: 18px;
  cursor: pointer;
}

.filters__radio-label {
  padding-left: 32px;
}

.filters__radio-label::before {
  position: absolute;
  top: -2px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  cursor: pointer;
}

.fat-content__radio-item:checked + .filters__radio-label::after {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
}

.filters__radio-wrapper-item:hover > .fat-content__radio-item:not(:disabled) + .filters__radio-label::before,
.filters__radio-wrapper-item:hover > .fat-content__radio-item:checked:not(:disabled) + .filters__radio-label::after {
  border: 4px solid rgb(255, 255, 255);
}

.filters__radio-wrapper-item:focus-within > .fat-content__radio-item:not(:disabled) + .filters__radio-label::before,
.filters__radio-wrapper-item:focus-within > .fat-content__radio-item:checked:not(:disabled) + .filters__radio-label::after {
  border: 4px solid rgb(255, 255, 255);
}

.fat-content__radio-item:disabled + .filters__radio-label::before {
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.fat-content__radio-item:disabled + .filters__radio-label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filters__checkbox-wrapper-item:first-child {
  padding-left: 32px;
}

.filler__checkbox-item:not(:checked) + .filters__checkbox-label::before {
  position: absolute;
  top: -1px;
  left: -32px;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  content: "";
}

.filler__checkbox-item:checked + .filters__checkbox-label::after {
  position: absolute;
  top: -1px;
  left: -32px;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  content: "";
}

.filters__checkbox-wrapper-item {
  margin: 8px 0;
  padding-left: 34px;
}

.filters__checkbox-wrapper-item:hover > .filler__checkbox-item:not(:checked):not(:disabled) + .filters__checkbox-label::before,
.filters__checkbox-wrapper-item:hover > .filler__checkbox-item:checked:not(:disabled) + .filters__checkbox-label::after {
  opacity: 1;
}

.filters__checkbox-wrapper-item:focus-within > .filler__checkbox-item:not(:checked):not(:disabled) + .filters__checkbox-label::before,
.filters__checkbox-wrapper-item:focus-within > .filler__checkbox-item:checked:not(:disabled) + .filters__checkbox-label::after {
  opacity: 1;
}

.filler__checkbox-item:disabled + .filters__checkbox-label::before,
.filler__checkbox-item:disabled + .filters__checkbox-label::after {
  opacity: 0.4;
}

.fat-content,
.filler {
  border: none;
}

.filters__second-row {
  margin-top: 13px;
}

.filters__field-checkbox {
  min-width: 703px;
  padding-left: 17px;
  padding-right: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters__field-checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filler__checkbox-item + label::before {
  position: absolute;
  content: "";
}

.filters__button {
  width: 144px;
  border: 2px solid #ffffff;
  margin-left: 14px;
  margin-top: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.filters__button:hover {
  color: #323232;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.filters__button:focus-within {
  color: #323232;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.filters__button:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.shares,
.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shares {
  margin-top: 40px;
  min-height: 229px;
  margin-bottom: 40px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 19px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 420px;
  max-width: 560px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-height: inherit;
}

.shares__caption {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.shares__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
}

.shares__orange-button {
  padding: 10px 22px 12px 21px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  margin-right: 2px;
  margin-bottom: 7px;
}

.shares__raspberry {
  background-color: #aa2a4f;
  background-image: url("../img/raspberries-banner.jpg");
  background-repeat: no-repeat;
}

.shares__chocolate {
  background-color: #58321f;
  background-image: url("../img/chocolate-banner.jpg");
  background-repeat: no-repeat;
  margin-left: 2.3%;
}

.ice-cream-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ice-cream-list__item {
  position: relative;
  width: 22.8%;
  text-align: center;
  min-width: 200px;
  max-width: 267px;
  margin-bottom: 38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 2.3%;
}

.ice-cream-list__item:nth-child(4n) {
  margin-right: 0;
}

.ice-cream-list__item:hover .ice-cream-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ice-cream-list__item:focus-within .ice-cream-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ice-cream-list__item:hover .ice-cream-list__image-wrapper,
.ice-cream-list__item:hover .ice-cream-list__title {
  position: relative;
  z-index: 2;
}

.ice-cream-list__item:focus-within .ice-cream-list__image-wrapper,
.ice-cream-list__item:focus-within .ice-cream-list__title {
  position: relative;
  z-index: 2;
}

.ice-cream-list__title:hover,
.ice-cream-list__title:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
  outline: none
}

.ice-cream-list__text {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .ice-cream-list__title {
    text-decoration: underline;
  }
  .ice-cream-list__text {
    border-bottom: none;
  }
  .ice-cream-list__title:hover,
  .ice-cream-list__title:focus {
    border-bottom: none;
  }
}

@supports (-ms-ime-align: auto) {
  .ice-cream-list__title {
    text-decoration: underline;
  }
  .ice-cream-list__text {
    border-bottom: none;
  }
  .ice-cream-list__title:hover,
  .ice-cream-list__title:focus {
    border-bottom: none;
  }
}

.ice-cream-list__image-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
  vertical-align: top;
}

.ice-cream-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-color: #ffffff;
  background-image: url(../img/hit.svg);
  border-radius: 50%;
}

.ice-cream-list__ice-cream-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-height: 267px;
  min-height: 199px;
}

.ice-cream-list__price {
  position: absolute;
  bottom: 13px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-list__price--units {
  width: 31px;
  height: 36px;
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-position: 4px 11px;
}

.ice-cream-list__price--units span{
  font-size: 30px;
  line-height: 45px;
  padding-left: 36px;
}


.ice-cream-list__wrapper {
  position: absolute;
  top: -2%;
  left: -4.85%;
  z-index: 1;
  display: none;
  width: 109.7%;
  height: 125.8%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  min-height: 351px;
  padding-bottom: 7.2%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.ice-cream-list__orange-button {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding-top: 11px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  vertical-align: top;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .ice-cream-list__orange-button {
    position: absolute;
    bottom: 4%;
    left: calc(50% - 100px);
  }
}

.features {
  padding: 25px 16px 15px 20px;
  color: #323232;
  background-color: #f0e6ce;
  background-image: url(../img/wafer-pattern.jpg);
  background-repeat: repeat;
  border-radius: 15px;
}

.features__about-us {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.features__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 48.6%;
  line-height: 22px;
  font-weight: 400;
  vertical-align: text-top;
  margin-bottom: 10px;
  margin-left: 1px;
}

.features__item:nth-child(2n) {
  margin-left: 18px;
}

.features__item:nth-child(2n) .features__text {
  margin-left: 8px;
}

.features__ice-cream,
.features__leaf,
.features__cow,
.features__thermometer {
  display: inline-block;
  width: 49px;
  height: 49px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  vertical-align: top;
}

.features__ice-cream {
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}

.features__leaf {
  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
}

.features__cow {
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}

.features__thermometer {
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
}

.features__text {
  display: inline-block;
  margin: 0;
  margin-left: 7px;
  margin-top: 13px;
  max-width: 90%;
  vertical-align: top;
}

.banner-wrapper {
  margin-top: 40px;
}

.new-in-blog,
.subscription {
  min-height: 220px;
}

.new-in-blog {
  padding: 23px 20px;
  background-color: #ffffff;
  background-image: url(../img/blog-background.jpg);
  background-repeat: no-repeat;
  background-position: right -254px top -225px;
}

.new-in-blog__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new-in-blog__link {
  width: 281px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  font-weight: 700;
  margin-top: 4px;
}

.new-in-blog__link:hover,
.new-in-blog__link:focus,
.new-in-blog__link:active {
  color: #e84d37;
  outline: none;
}

.new-in-blog__link p {
  display: inline;
  background-color: rgba(255, 255, 255, 0.6);
}

.subscription { 
  padding: 29px 21px 33px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-image-source: url(../img/bg-post.svg);
  border-image-slice: 6;
  font-weight: 400;
  margin-left: 2.3%;
}

.subscription_text {
  margin: 0;
}

.subscription_form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.subscription_form-wrapper form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.subscription_form-wrapper input::-webkit-input-placeholder,
.modal-feedback__popup_form-field::-webkit-input-placeholder,
.modal-feedback__textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.subscription_form-wrapper input:-ms-input-placeholder,
.modal-feedback__popup_form-field:-ms-input-placeholder,
.modal-feedback__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.subscription_form-wrapper input::-ms-input-placeholder,
.modal-feedback__popup_form-field::-ms-input-placeholder,
.modal-feedback__textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.subscription_form-wrapper input::placeholder,
.modal-feedback__popup_form-field::placeholder,
.modal-feedback__textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

@-moz-document url-prefix() {
  .subscription_form-wrapper input::placeholder,
  .modal-feedback__popup_form-field::placeholder,
  .controls-menu__field::placeholder {
    line-height: 38px;
  }
}

.subscription__row {
  margin: 0;
  max-width: 368px;
  min-width: 229px;
  margin-right: 11px;
}

.subscription__orange-button {
  padding: 9px 19px 12px 19px;
  margin-bottom: 1px;
}

.contacts {
  position: relative;
  min-width: 900px;
  margin-top: 40px;
}

.contacts__wrapper-adress {
  position: absolute;
  top: 0;
  right: 50%;
  width: 100%;
  transform: translateX(50%);
  min-width: 900px;
  max-width: 1200px;
}

.contacts__adress {
  position: absolute;
  top: 63px;
  right: 2.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 302px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 31px;
}

.contacts__text-adress {
  padding: 10px 32px 2px 25px;
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__address-heading {
  padding-right: 87px;
  margin-top: 18px;
}

.contacts__bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__bold__adress {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1px;
  margin-bottom: 18px;
}

.contacts__bold__telephone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 4px;
  margin-bottom: 2px;
}

.contacts__orange-button {
  padding: 13px 28px;
  line-height: 1;
  margin-top: 22px;
  margin-left: 24.8px;
  margin-right: 24.8px;
}

.contacts__map {
  width: 100%;
  height: 429px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 42px;
  white-space: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}

.paginator__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 18px;
  text-align: center;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.paginator__item-link {
  padding: 4px 8px;
  color: inherit;
}

.paginator__item--prev {
  width: 27px;
  height: 26px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 12px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.paginator__item--disabled {
  opacity: 0.2;
}

.paginator__item--active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator__item-next-link {
  padding: 4px 0 4px 13px;
}

.paginator__item-next-link:hover path,
.paginator__item-next-link:focus path {
  stroke: #ffffff;
  outline: none;
}

.paginator__item-next-link:active path {
  stroke: #323232;
  fill: #323232;
}

.paginator__item-action:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.paginator__item-action:focus-within {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.paginator__item-link:focus,
.paginator__item-next-link:focus {
  outline: none;
}

.paginator__item-action:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator:active .paginator__item--active:not(:active)  {
  color: #ffffff;
  background-color: initial;
  border-radius: initial;
}

.center-area__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 26px;
  padding-top: 18px;
}

.main-footer--separated {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.main-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.main-footer__social-button {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
  margin-right: 11px;
  text-indent: -10000px;
  vertical-align: top;
}

.main-footer__social-button:hover,
.main-footer__social-button:focus {
  opacity: 1;
  outline: none;
}

.main-footer__social-button:active {
  opacity: 0.7;
}

.main-footer__social-button--tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--inst {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.main-footer__social-button--vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

.footer-menu {
  margin-top: 14px;
}

.footer-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 324px;
  flex-wrap: wrap;
  margin-left: 12px;
}

.footer-menu__element {
  margin-bottom: 3px;
}

.footer-menu__element:nth-of-type(odd) {
  width: 44%;
}

.footer-menu__row--heart {
  position: relative;
}

.footer-menu__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-menu__item:hover,
.footer-menu__item:focus,
.footer-menu__item:active,
.footer-copyright__link:hover,
.footer-copyright__link:focus,
.footer-copyright__link:active,
.breadcrumbs__item-link:hover,
.breadcrumbs__item-link:focus,
.breadcrumbs__item-link:active {
  color: #ffbc9e;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 188, 158, 0.5);
          box-shadow: 0 1px 0 0 rgba(255, 188, 158, 0.5);
  outline: none;
}

.footer-menu__item--bold {
  font-weight: 700;
}

.footer-menu__row--heart::before {
  position: absolute;
  top: 4px;
  left: -22px;
  width: 15px;
  height: 15px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  content: "";
}

.footer-copyright {
  margin-top: auto;
}

.footer-copyright__author,
.footer-copyright__link {
  font-size: 12px;
  font-weight: 400;
}

.footer-copyright__author {
  margin: 0;
  margin-top: 2px;
}

@-webkit-keyframes increase {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes increase {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 4;
  width: 477px;
  padding: 16px 20px 27px 24px;
  border-radius: 10px;
  margin-left: -237px;
}

.modal-feedback--show {
  display: block;
  -webkit-animation-name: increase;
          animation-name: increase;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-feedback__close {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}

.modal-feedback__close::before,
.modal-feedback__close::after {
  position: absolute;
  top: 8px;
  right: -2px;
  width: 22px;
  height: 2px;
  background-color: #323232;
  content: "";
}

.modal-feedback__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-feedback__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-feedback__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__modal-feedback-row {
  margin: 0;
  margin-top: 20px;
}

.modal-feedback__popup_form-field {
  width: 267px;
}

.modal-feedback__textarea {
  overflow: auto;
  width: 428px;
  height: 155px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  min-height: 155px;
  padding-left: 13px;
  padding-top: 7px;
}

.modal-feedback__orange-button {
  padding: 10px 23px;
  line-height: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 20px;
  margin-right: 4px;
}

@-webkit-keyframes blackout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes blackout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.modal-overlay--show {
  display: block;
  -webkit-animation-name: blackout;
          animation-name: blackout;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
